{% extends 'layout.twig' %}

{% block title %}{{ article ? 'Edit' : 'New' }} Article{% endblock %}


{% block content %}

{% if errors %}
  <div class="errors">
      <ul>
          {% for field, messages in errors %}
              {% for message in messages %}
                  <li>{{ field|capitalize }}: {{ message }}</li>
              {% endfor %}
          {% endfor %}
      </ul>
  </div>
{% endif %}

<h2>{{ article ? 'Edit' : 'Create' }} Article</h2>

<form action="{{ article.id is defined ? (base_url() ~ '/admin/article/edit/' ~ article.id) : (base_url() ~ '/admin/article/create') }}" method="post">

    <input type="hidden" name="{{ csrf.token_name_key }}" value="{{ csrf.token_name }}">
    <input type="hidden" name="{{ csrf.token_value_key }}" value="{{ csrf.token_value }}">

    <label>Title:</label>
    <input type="text" name="title" id="title" value="{{ article.title | default('') }}" required>
    
    <label>Content:</label>
    <textarea name="content" id="content-editor">{{ article.content | default('') }}</textarea>

    <label for="featured_image">Featured Image:</label>
    <input type="file" name="featured_image" id="featured_image" accept="image/*">
    
    <button type="submit">{{ article ? 'Update' : 'Create' }} Article</button>
</form>

<!-- TinyMCE Integration -->
<script src="{{ base_url() }}/assets/js/tinymce/tinymce.min.js"></script>

<script type="text/javascript">
  // Ensure TinyMCE is initialized when the page loads
    window.onload = function() {
      debugger;
        tinymce.init({
            selector: '#content-editor', // The textarea you want to turn into TinyMCE
            plugins: 'advlist autolink lists link image charmap print preview',
            toolbar: 'undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | link image',
            menubar: false,
            setup: function(editor) {
                // Set the content from the backend (Twig variable)
                editor.on('init', function() {
                    editor.setContent('{{ content|escape('js') }}');
                });
            }
        });
    };
</script>

{% endblock %}
