{% extends 'admin/layout.twig' %}

{% block title %}{{ trans('dashboard') }}{% endblock %}

{% block content %}
<!-- Main content wrapper -->
<div class="wrapper">
  <!-- Dynamic table -->
    <div class="widget">
        <div class="title"><h6>{{trans('users_list')}}</h6></div>
        <table class="display dTable">
          <thead>
            <tr>
              <th>{{trans('user_full_name')}}</th>
              <th>{{trans('user_name')}}</th>
              <th>{{trans('user_mail')}}</th>
              <th>{{trans('user_city')}}</th>
              <th>{{trans('user_country')}}</th>
              <th>{{trans('user_profile_image')}}</th>
            </tr>
          </thead>
        <tbody>
          {% for user in users %}
            <tr class="gradeX">
              <td>{{user.full_name}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.city}}</td>
              <td>{{user.country}}</td>
              <td class="center" style="border-left-color: rgb(203, 203, 203);"><a href="{{user.profile_picture}}" title="" rel="lightbox"><img src="{{user.profile_picture}}" alt="" style="width: 50px;height: 50px;"></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

</div>
{% endblock %}



