{% extends 'frontend/layout.twig' %}

{% block title %}{{ trans('register') }}{% endblock %}

{% block banner_title %} {{ trans('register') }} {% endblock %}

{% block content %}
<div class="container-fluid mb-4">
    <div class="container">
        <div class="col-12 text-center contact_margin_svnit ">
            <div class="text-center fh5co_heading py-2">{{trans('register')}}</div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <form id="fh5co_contact_form" class="row" action="/register" method="post"  enctype="multipart/form-data">
                    <input type="hidden" name="{{ csrf.token_name_key }}" value="{{ csrf.token_name }}">
                    <input type="hidden" name="{{ csrf.token_value_key }}" value="{{ csrf.token_value }}">

                    <div class="col-12 py-3">
                        <input name="full_name" id="full_name" required type="text" class="form-control fh5co_contact_text_box" placeholder="{{trans('full_name') }}">
                    </div>
                    <div class="col-6 py-3">
                        <input name="username" id="username" required type="text" class="form-control fh5co_contact_text_box" placeholder="{{ trans('username') }}">
                    </div>
                    <div class="col-6 py-3">
                        <input type="email" name="email" id="email" required class="form-control fh5co_contact_text_box" placeholder="{{ trans('email') }}">
                    </div>
                    <div class="col-6 py-3">
                        <input name="city" id="city" type="text" class="form-control fh5co_contact_text_box" placeholder="{{trans('city') }}">
                    </div>
                    <div class="col-6 py-3">
                        <input name="country" id="country" type="text" class="form-control fh5co_contact_text_box" placeholder="{{ trans('country') }}">
                    </div>
                    <div class="col-6 py-3">
                        <input  type="password" name="password" id="password" required class="form-control fh5co_contact_text_box" placeholder="{{ trans('password')}}">
                    </div>
                    <div class="col-6 py-3">
                        <input type="password" name="password_confirm" id="password_confirm" required class="form-control fh5co_contact_text_box" placeholder="{{trans('password_confirm')}}">
                    </div>
                    <div class="col-6 py-3">
                      <label for="profile_picture" class="form-label d-block text-left font-weight-bold">{{ trans('profile_picture') }}</label>
                      <input type="file" class="form-control fh5co_contact_text_box" name="profile_picture" id="profile_picture" accept="image/*">
                    </div>
                    <div class="col-12 py-3 text-center">

                     <button type="submit" class="btn contact_btn">{{ trans('register') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
