{% extends 'layout.twig' %}

{% block title %}Update Profile{% endblock %}

{% block content %}

{% if errors %}
    <div class="errors">
        <ul>
            {% for field, messages in errors %}
                {% for message in messages %}
                    <li>{{ field|capitalize }}: {{ message }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
<h2>Update Profile</h2>
<form action="{{'/update-profile/'~user_id}}" method="post"  enctype="multipart/form-data">

    <input type="hidden" name="{{ csrf.token_name_key }}" value="{{ csrf.token_name }}">
    <input type="hidden" name="{{ csrf.token_value_key }}" value="{{ csrf.token_value }}">
    
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    
    <label for="password_confirm">Confirm Password:</label>
    <input type="password" name="password_confirm" id="password_confirm">
    
    <label for="profile_picture">Profile Picture:</label>
    <input type="file" name="profile_picture" id="profile_picture" accept="image/*">
    
    <button type="submit">Update Profile</button>
</form>
{% endblock %}
